
<h1>Hello {{user.username}} !</h1>
<br>

<h2>Add a Game</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="/user/{{user.username}}">
	<div>
		<label for="username">Game Name:</label>
		<input type="text" name="gameName" value="">
	</div>
	<div>
		<label for="company">Company:</label> 
		<input type="text" name="company" value="">
	</div>
	<div>
		<label for="type">Type:</label>
		<input type="text" name="type" value="">
	</div>
    <div>
		<label for="year">Year:</label>
		<input type="text" name="year" value="">
	</div>
	<div><input type="submit" value="Enter"></div>
</form>


<br>
<h2>My Game List</h2>
<br>
{{!-- <h2>Filter By:</h2>

<form method="GET" action="/user/{{user.username}}">
    Game Name:<input type="text" name = "gameName", value="">  
    Company: <input type="text" name = "company", value="">  
    Year: <input type="text" name = "year", value="">  
    Type: <input type="text" name = "type", value="">  
    <input type = "submit" value="Search">
</form> --}}

{{!-- <h2>Game List</h2> --}}

<table>
  <tr>
    <th>Game Name</th>
    <th>Company</th>
    <th>Type</th>
    <th>Year</th>
  </tr>

    {{#each data as |ele|}}
        <tr>
            <td>
                {{ele.gameName}}
            </td>
            <td>
                {{ele.company}}
            </td>
            <td>
                {{ele.type}}
            </td>
            <td>
                {{ele.year}}
            </td>
        </tr>
    {{/each}}
</table>


<br>


<br>

<br>
<br>



